extends layout.pug

block content
    div.col-md-12
        section.section-content
            +renderPageTitle
            div !{ contents }

            table.table.table-striped
                thead
                    tr
                        th Date
                        th Author(s)
                        th Topic
                tbody
                    each item in blog
                        tr
                            td: span.text-nowrap #{moment(item.date).format("YYYY MMM DD")}
                            td
                                | #{item.authors}
                                p(style="margin-left: 1em")
                                    if item.external_url
                                        if item.source_blog_url || item.source_blog
                                            i from 
                                                if item.source_blog_url
                                                    a(href=item.source_blog_url)
                                                        if item.source_blog
                                                            | !{item.source_blog}
                                                        else
                                                            | This Blog
                                                else if item.source_blog
                                                    | !{item.source_blog}
                                    else
                                        i from the 
                                            strong Galactic Blog

                            td
                                if item.external_url
                                    a.lead( href=item.external_url ) #{item.title}
                                    if item.contents != ''
                                        |  [
                                        a( href=item.link )
                                            | hub page
                                        | ]
                                else
                                    a.lead( href=item.link ) #{item.title}
                                p(style="margin-left: 1em")
                                    +renderTeaseOrSlice(item)
