extends layout.pug

mixin renderBlogEntry()
    if image
        if external_url
            a(href=external_url)
                img.img-fluid(src=deGitUrl(image) style="float:right; margin: 20px 0px 5px 10px; padding 2px; border: 1px solid #666")
        else
            img.img-fluid(src=deGitUrl(image) style="float:right; margin: 20px 0px 5px 10px; padding 2px; border: 1px solid #666")
    +renderPageTitle

    p.lead By !{authors} 
    p
        strong  
            | !{moment(date).format("MMMM Do YYYY")}
    if external_url
        p
            strong See 
                a(href=external_url)
                    | (external) blog entry
    if source_blog_url || source_blog
        p From 
            i
                if source_blog_url
                    a(href=source_blog_url)
                        if source_blog
                            | !{source_blog}
                        else
                            | This Blog
                else
                    | !{source_blog}
    p
    div: p !{ contents }

block content
    if toc
        div.col-md-9
            section.section-content
                +renderBlogEntry
        div.col-md-3
            div#sidebar
                +renderToc(toc)
    else
        div.col-md-12
            section.section-content
                +renderBlogEntry

    div.col-md-9
        section.section-content
            p: i
                | See this and other Galaxy-related posts in 
                a(href="/blog/") The Galactic Blog
    div.col-md-3
