extends layout.pug

block content
    div.col-md-12
        section.section-content
            h1 !{ title }
            div !{ contents }

            table.table.table-striped
                tbody
                    each item in blog
                        tr
                            td: span.text-nowrap #{helpers.moment(item.date).format("MMMM Do YYYY")}
                            td: a( href=item.link ) #{item.title}
                            td: p.small
                                if item.tease
                                    | #{item.tease}
                                else
                                    | !{helpers._.replace(helpers._.replace(helpers.marked(item.contents), /(<.+?\>|&nbsp;)/g, ''),/\s+/g,' ').slice(0,80) + "..."}
            h2(id="add-news-item") Adding a blog entry
            p
                | To add a blog entry, create a new folder in 
                a(href="https://github.com/galaxyproject/galaxy-hub/tree/master/src/blog") https://github.com/galaxyproject/galaxy-hub/tree/master/src/blog
                |  with an 'index.md' file.  It's probably easiest to copy the format from one of the other existing blog entries.
