extends layout.pug

mixin renderJobTitle(item)
    if item.rtl
        div(style="direction: rtl")
            | #{item.title}
    else
        div
            | #{item.title}

mixin renderJobCard(item)
    - var card_color = "border-primary";
    - var text_color = "";
    - var deadline_color = "text-warning";
    - var img_filter = "filter: opacity(100%)";
    if item.closes && moment(item.closes) < moment(new Date())
        - var card_color = "border-muted";
        - var text_color = "text-muted";
        - var deadline_color = "text-muted";
        - var img_filter = "filter: opacity(33%)";
    div( class='card ' + card_color + ' ' + text_color style="min-width: 14rem; max-width: 20rem" )
        div( class="card-header" )
            if item.continent
                img( class="float-right" style="max-width: 40px;" src='/images/icons/' + item.continent + '.png')
            if item.external_url
                a( class=text_color href=item.external_url )
                    +renderJobTitle(item)
                if item.contents != ''
                    |  [
                    a( href=item.link )
                        | hub page
                    | ]
            else
                a( href=item.link )
                    +renderJobTitle(item)
        p
            strong
                if item.location_url
                    a( class=text_color href=item.location_url)
                        | #{item.location}
                else
                    | #{item.location}

        p
            strong
                | Posted: #{moment(item.date).format("MMM Do YYYY")}
                br
                if item.closes
                    span( class=deadline_color )
                        | Apply by: #{moment(item.closes).format("MMM Do YYYY")}
                        br
        if item.summary != ''
            p
                != marked(item.summary).replace("<p>","").replace("</p>","")
        if item.links
            | ( 
            each link in item.links
                a( href=link.url )
                    | #{link.text}. 
            | )
        if item.contact
            p
                em
                    | Contact: 
                    != marked(item.contact).replace("<p>","").replace("</p>","")

        if item.image
            p
                if item.external_url
                    a( href=item.external_url )
                        img( class="card-img-bottom" style=img_filter src=deGitUrl(item.image) )
                else
                    img( class="card-img-bottom" style=img_filter src=deGitUrl(item.image) )

block content
    - var jobs_malleable = careers.slice().reverse()

    div.col-md-12
        section.section-content
            h1 !{title}
            div !{ contents }

            h2(id="open-positions") Open Positions
            
            div( class="card-deck" )
                each item in jobs_malleable
                    if !item.closes || moment(item.closes) >= moment(new Date())
                        +renderJobCard(item)

            h2(id="previous-openings") Previous Openings

            div( class="card-deck" )
                each item in jobs_malleable
                    if item.closes && moment(item.closes) < moment(new Date())
                        +renderJobCard(item)
