extends layout.pug

mixin renderJobTitle(item)
    if item.rtl
        div(style="direction: rtl")
            | #{item.title}
    else
        div
            | #{item.title}

mixin renderJobCard(item)
    div( class="card border-info" style="min-width: 14rem; max-width: 20rem" )
        div( class="card-header" )
            if item.continent
                img( class="float-right" style="max-width: 40px;" src='/images/icons/' + item.continent + '.png')
            if item.external_url
                a( href=item.external_url )
                    +renderJobTitle(item)
                if item.contents != ''
                    |  [
                    a( href=item.link )
                        | hub page
                    | ]
            else
                a( href=item.link )
                    +renderJobTitle(item)
        p
            strong
                if item.location_url
                    a(href=item.location_url)
                        | #{item.location}
                else
                    | #{item.location}

        p
            strong
                | Posted: #{moment(item.date).format("MMMM Do YYYY")}
                br
                if item.closes
                    | Closes: #{moment(item.closes).format("MMMM Do YYYY")}
                    br
        if item.summary != ''
            p
                != marked(item.summary).replace("<p>","").replace("</p>","")
        if item.links
            | ( 
            each link in item.links
                a( href=link.url )
                    | #{link.text}. 
            | )
        if item.contact
            p
                em
                    | Contact: 
                    != marked(item.contact).replace("<p>","").replace("</p>","")

        if item.image
            p
                if item.external_url
                    a( href=item.external_url )
                        img( class="card-img-bottom" src=deGitUrl(item.image) )
                else
                    img( class="card-img-bottom" src=deGitUrl(item.image) )

block content
    - var jobs_malleable = careers.slice().reverse()

    div.col-md-12
        section.section-content
            h1 !{title}
            div !{ contents }

            h2(id="open-positions") Open Positions
            
            div( class="card-deck" )
                each item in jobs_malleable
                    +renderJobCard(item)