extends layout.pug

block content
    div.col-md-12
        section.section-content
            h1 !{ title }
            div !{ contents }

            table.table.table-striped
                tbody
                    each item in devnewsbrief
                        tr
                            td: span.text-nowrap #{moment(item.date).format("MMMM Do YYYY")}
                            td: a( href=item.link ) #{item.title}
                            td: p.small
                                +renderTeaseOrSlice(item)
