extends layout.pug

mixin renderEvent()
    section.section-content
        if image
            if external_url
                a(href=external_url)
                    img.img-fluid(src=deGitUrl(image) style="float:right; margin: 20px 0px 5px 10px; padding: 2px; border: 1px solid #666")
            else
                img.img-fluid(src=deGitUrl(image) style="float:right; margin: 20px 0px 5px 10px; padding: 2px; border: 1px solid #666")
        +renderPageTitle
        ul.list-unstyled
            if date
                li
                    strong Date: 
                    | !{moment(date).format("MMMM Do YYYY")}
                    if days > 1
                        | - !{moment(date).add(days - 1, 'days').format("MMMM Do YYYY")}
            if location
                li
                    strong Location: 
                    if location_url
                        a(href=location_url)
                            | !{location}
                    else
                        | !{location}
            if external_url
                li
                    strong Event URL: 
                    a(href=external_url)
                        | !{external_url}
            if contact
                li
                    strong Contact: 
                    | !{contact}
        div: p !{ contents }

block content
    if toc
        div.col-md-9
            +renderEvent
        div.col-md-3
            div#sidebar
                +renderToc(toc)
    else
        div.col-md-12
            +renderEvent
