extends layout.pug


mixin renderSplash(item)
   h1 !{item.title}
   p.lead !{item.contents}


block content
    section.section-content
        div.row.mb-3#splash-row
            h1.display-4
                | Galaxy Community Hub
    section.section-content
        div.row.text-center
            div.col-6
                h2.display-5
                    a( href="https://docs.galaxyproject.org/en/master/releases/21.01_announce_user.html" )
                        img.img-fluid( src="/news/2021-03-galaxy-release-21-01/v21-01-is-here.png" alt="Release 21.01 is out" )
            div.col-6
                h2.display-5
                    a( href="/news/2021-03-gsoc/" )
                        img.img-fluid( src="/develop/gsoc/ogi-gsoc-3-suns.png" alt="Galaxy in GSoC" )
                    a( href="/news/2021-03-gsoc/" )
                        | Galaxy is in Google Summer of Code
                h3.display-5
                    | Submit Project Ideas by March 29
                    br
                    | March 29 - April 12: Contact mentors and apply

    section.section-content
        div.row#splash-row
            div.col-sm-12.lead
                p !{contents}
        div.row
            div.col-sm-12
                br
        div.row
            div.col-sm-4( style="background-color: #E0EAF2; border: 3px solid white; border-radius: 10px;" ) 
                h2: a( href="/news/" ) <i class="fas fa-bullhorn"></i> &nbsp; News
                each item in news.slice(0,5)
                    p
                        strong
                            if item.external_url
                                a( href=item.external_url ) #{item.title}
                            else
                                a( href=item.link ) #{item.title}
                        if item.tease
                            small
                                |  – !{marked(item.tease).replace("<p>","").replace("</p>","")}
            div.col-sm-4( style="background-color: #E0EAF2; border: 3px solid white; border-radius: 10px;" ) 
                h2: a( href="/events/" ) <i class="far fa-calendar-alt"></i> &nbsp; Events
                - var events_counter = 0
                each item in events.slice().reverse()
                    if events_counter < 5 && item.date != undefined && moment(item.date) >= moment(new Date()).subtract((item.days || 1), 'days')
                        - events_counter += 1
                        p
                            if item.external_url
                                strong
                                    a( href=item.external_url ) #{item.title}
                                if item.contents != ''
                                    |  [
                                    a( href=item.link )
                                        | hub page
                                    | ] 
                            else
                                strong
                                    a( href=item.link ) #{item.title}

                            small
                                em
                                    | - !{moment(item.date).format(" MMM D.")}
                                if item.tease
                                    |  !{marked(item.tease).replace("<p>","").replace("</p>","")}

            div.col-sm-4( style="background-color: #E0EAF2; border: 3px solid white; border-radius: 10px;" ) 
                div#twitter_timeline
                    h2
                        a(href="http://twitter.com/galaxyproject") <i class="fab fa-twitter"></i> &nbsp; @galaxyproject
                        a.twitter-timeline(data-dnt="true" height="400" data-chrome="noheader nofooter noscrollbar noborders transparent" href="https://twitter.com/galaxyproject" data-widget-id="384667676347363329")
                    script(type='text/javascript').
                        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

        div.row
            div.col-sm-12
                br

        div.row
            div.col-sm-4( style="background-color: #E0EAF2; border: 3px solid white; border-radius: 10px;" ) 
                include ../partials/HomepageVideos.html

            div.col-sm-4( style="background-color: #E0EAF2; border: 3px solid white; border-radius: 10px;" ) 
                h2: a( href="/blog/" ) <i class="fas fa-pencil-alt"></i> &nbsp; Blog
                each item in blog.slice(0,5)
                    p
                        strong
                            if item.external_url
                                a( href=item.external_url ) #{item.title}
                            else
                                a( href=item.link ) #{item.title}
                        small
                            if item.tease
                                span.text-dark
                                    |  – !{marked(item.tease).replace("<p>","").replace("</p>","")}
            div.col-sm-4( style="background-color: #E0EAF2; border: 3px solid white; border-radius: 10px;" )  
                h2: a( href="/careers/" ) <i class="fas fa-user-astronaut"></i> &nbsp; Careers
                - var jobs_counter = 0
                each item in careers.slice().reverse()
                    if jobs_counter < 5 && (item.closes == undefined || (moment(item.closes) > moment(new Date()).subtract((item.days || 1), 'days')))
                        - jobs_counter += 1
                        p
                            if item.external_url
                                strong
                                    a( href=item.external_url ) #{item.title}
                                if item.contents != ''
                                    |  [
                                    a( href=item.link )
                                        | hub page
                                    | ] 
                            else
                                strong
                                    a( href=item.link ) #{item.title}
                            small
                                |  – !{marked(item.location).replace("<p>","").replace("</p>","")}
                                if item.closes
                                    em
                                        | . Apply by !{moment(item.closes).format(" MMM D")}.

        div.row
            div.col-sm-12
                br
                
        div.row
            div.col-sm-4( style="background-color: #E0EAF2; border: 3px solid white; border-radius: 10px;" ) 
                h2: a( href="/use/" ) <i class="fas fa-server"></i> &nbsp; New Platforms
                p
                    strong
                        a( href="/use/immuneml/" ) immuneML
                    small
                        |  - Machine learning-based analysis and classification of adaptive immune receptors and repertoires (AIRR). 
                p
                    strong
                        a( href="/use/asaim/" ) ASaiM Docker Image
                    small
                        |  - Tools for metagenomic and metatranscriptomic studies, hierarchically organized to orient user choice toward the best tool for a given task. 
                p
                    strong
                        a( href="/use/interactomix/") InteractoMIX
                    small
                        |  - One-stop resource offering a wide range of computational analyses from proteome-wide interactomes to structure of protein complexes.
                p
                    strong
                        a( href="/use/atacgraph/") ATACgraph
                    small
                        |  - Profile accessible chromatin regions and provide ATAC-seq-specific information including definitions of nucleosome-free regions (NFRs) and nucleosome-occupied regions.

            div.col-sm-8( style="background-color: #E0EAF2; border: 3px solid white; border-radius: 10px;" )  
                h2: a( href="https://www.zotero.org/groups/galaxy" ) <i class="fas fa-book-open"></i> &nbsp; Recent Pubs
                p
                    strong
                        a( href="https://doi.org/10.1101/2021.03.08.433891" ) immuneML: An ecosystem for machine learning analysis of adaptive immune receptor repertoires
                    small
                        |  - Pavlovic, M., Scheffer, L., Motwani, K., Kanduri, C., Kompova, R., Vazov, N., Waagan, K., Bernal, F. L. M., Costa, A. A., Corrie, B., Akbar, R., Hajj, G. S. A., Balaban, G., Brusko, T. M., Chernigovskaya, M., Christley, S., Cowell, L. G., Frank, R., Grytten, I., … Sandve, G. K. (2021)
                        em
                            |  BioRxiv,
                        |  2021.03.08.433891.
                p
                    strong
                        a( href="https://doi.org/10.1093/gigascience/giaa158" ) ChiRA: An integrated framework for chimeric read analysis from RNA-RNA interactome and RNA structurome data
                    small
                        |  - Videm, P., Kumar, A., Zharkov, O., Grüning, B. A., & Backofen, R. (2021).
                        em
                            |  GigaScience,
                        |  10(giaa158).
                p
                    strong
                        a( href="https://doi.org/10.1002/cpz1.31" ) Using Galaxy to Perform Large-Scale Interactive Data Analyses—An Update
                    small
                        |  - Ostrovsky, A., Hillman‐Jackson, J., Bouvier, D., Clements, D., Afgan, E., Blankenberg, D., Schatz, M. C., Nekrutenko, A., Taylor, J., the Galaxy Team, & Lariviere, D. (2021).
                        em
                            |  Current Protocols,
                        |  1(2), e31. 
                p
                    strong
                        a( href="https://doi.org/10.12688/f1000research.28608.1" ) ASaiM-MT: A validated and optimized ASaiM workflow for metatranscriptomics analysis within Galaxy framework
                    small
                        |  - Mehta, S., Crane, M., Leith, E., Batut, B., Hiltemann, S., Arntzen, M. Ø., Kunath, B. J., Delogu, F., Sajulga, R., Kumar, P., Johnson, J. E., Griffin, T. J., & Jagtap, P. D. (2021).  

                        em
                            |  F1000Research,
                        |  10, 103.
