extends layout.pug

block section
    section.section-content
        div.row
            div.col-sm-12 !{ contents }
        div.row
            div.col-sm-6
                h2 News
                each item in news.slice(0,5)
                    p
                        a( href=item.link ) #{item.title}
                        if item.tease
                            |  – !{helpers.marked(item.tease).replace("<p>","").replace("</p>","")}
                p: a( href="/news/" ) More...

            div.col-sm-6
                h2 Events
                each item in events.slice(0,5)
                    p
                        a( href=item.link ) #{item.title}
                        if item.tease
                            |  – !{helpers.marked(item.tease).replace("<p>","").replace("</p>","")}
                p: a( href="/events/" ) More...

