extends layout.pug


mixin renderSplash(item)
   h1 !{item.title}
   p.lead !{item.contents}


block content
    section.section-content
        div.row.mb-3#splash-row
            h1.display-4
                | Galaxy Community Hub
    section.section-content
        div.row.text-center
            div.col-1
            div.col-5( style="max-width: 26rem;" )
                a( href="/jxtx/" )
                    img.img-fluid( src="/jxtx/james.jpg" alt="James Taylor" )
            div.col-6
                h3.display-4
                    a( href="/jxtx/" )
                        | James Taylor
                h3.display-5
                    | 1979-2020
                    br
                    | It's been a year.
                    br
                    a( href="/jxtx/" )
                        |  Please help us celebrate James on May 18, his birthday.

    section.section-content
        div.row#splash-row
            div.col-sm-12.lead
                p !{contents}
        div.row
            div.col-sm-12
                br
        div.row
            div.col-sm-4( style="background-color: #E0EAF2; border: 3px solid white; border-radius: 10px;" ) 
                h2: a( href="/news/" ) <i class="fas fa-bullhorn"></i> &nbsp; News
                each item in news.slice(0,5)
                    p
                        strong
                            if item.external_url
                                a( href=item.external_url ) #{item.title}
                            else
                                a( href=item.link ) #{item.title}
                        if item.tease
                            small
                                |  – !{marked(item.tease).replace("<p>","").replace("</p>","")}
            div.col-sm-4( style="background-color: #E0EAF2; border: 3px solid white; border-radius: 10px;" ) 
                h2: a( href="/events/" ) <i class="far fa-calendar-alt"></i> &nbsp; Events
                - var events_counter = 0
                each item in events.slice().reverse()
                    if events_counter < 5 && item.date != undefined && moment(item.date) >= moment(new Date()).subtract((item.days || 1), 'days')
                        - events_counter += 1
                        p
                            if item.external_url
                                strong
                                    a( href=item.external_url ) #{item.title}
                                if item.contents != ''
                                    |  [
                                    a( href=item.link )
                                        | hub page
                                    | ] 
                            else
                                strong
                                    a( href=item.link ) #{item.title}

                            small
                                em
                                    | - !{moment(item.date).format(" MMM D.")}
                                if item.tease
                                    |  !{marked(item.tease).replace("<p>","").replace("</p>","")}

            div.col-sm-4( style="background-color: #E0EAF2; border: 3px solid white; border-radius: 10px;" ) 
                div#twitter_timeline
                    h2
                        a(href="http://twitter.com/galaxyproject") <i class="fab fa-twitter"></i> &nbsp; @galaxyproject
                        a.twitter-timeline(data-dnt="true" height="400" data-chrome="noheader nofooter noscrollbar noborders transparent" href="https://twitter.com/galaxyproject" data-widget-id="384667676347363329")
                    script(type='text/javascript').
                        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

        div.row
            div.col-sm-12
                br

        div.row
            div.col-sm-4( style="background-color: #E0EAF2; border: 3px solid white; border-radius: 10px;" ) 
                include ../partials/HomepageVideos.html

            div.col-sm-4( style="background-color: #E0EAF2; border: 3px solid white; border-radius: 10px;" ) 
                h2: a( href="/blog/" ) <i class="fas fa-pencil-alt"></i> &nbsp; Blog
                each item in blog.slice(0,5)
                    p
                        strong
                            if item.external_url
                                a( href=item.external_url ) #{item.title}
                            else
                                a( href=item.link ) #{item.title}
                        small
                            if item.tease
                                span.text-dark
                                    |  – !{marked(item.tease).replace("<p>","").replace("</p>","")}
            div.col-sm-4( style="background-color: #E0EAF2; border: 3px solid white; border-radius: 10px;" )  
                h2: a( href="/careers/" ) <i class="fas fa-user-astronaut"></i> &nbsp; Careers
                - var jobs_counter = 0
                each item in careers.slice().reverse()
                    if jobs_counter < 5 && (item.closes == undefined || (moment(item.closes) > moment(new Date()).subtract((item.days || 1), 'days')))
                        - jobs_counter += 1
                        p
                            if item.external_url
                                strong
                                    a( href=item.external_url ) #{item.title}
                                if item.contents != ''
                                    |  [
                                    a( href=item.link )
                                        | hub page
                                    | ] 
                            else
                                strong
                                    a( href=item.link ) #{item.title}
                            small
                                |  – !{marked(item.location).replace("<p>","").replace("</p>","")}
                                if item.closes
                                    em
                                        | . Apply by !{moment(item.closes).format(" MMM D")}.

        div.row
            div.col-sm-12
                br
                
        div.row
            div.col-sm-4( style="background-color: #E0EAF2; border: 3px solid white; border-radius: 10px;" ) 
                h2: a( href="/use/" ) <i class="fas fa-server"></i> &nbsp; New Platforms
                p
                    strong
                        a( href="/use/ipk-blast/") IPK Blast
                    small
                        |  - BLAST for barley, wheat, and rye.  Part of IPK Crop Analysis Tools Suite (CATS).
                p
                    strong
                        a( href="/use/immuneml/" ) immuneML
                    small
                        |  - Machine learning-based analysis and classification of adaptive immune receptors and repertoires (AIRR). 
                p
                    strong
                        a( href="/use/asaim/" ) ASaiM Docker Image
                    small
                        |  - Tools for metagenomic and metatranscriptomic studies, hierarchically organized to orient user choice toward the best tool for a given task. 
                p
                    strong
                        a( href="/use/interactomix/") InteractoMIX
                    small
                        |  - One-stop resource offering a wide range of computational analyses from proteome-wide interactomes to structure of protein complexes.
                p
                    strong
                        a( href="/use/atacgraph/") ATACgraph
                    small
                        |  - Profile accessible chromatin regions and provide ATAC-seq-specific information including definitions of nucleosome-free regions (NFRs) and nucleosome-occupied regions.


            div.col-sm-8( style="background-color: #E0EAF2; border: 3px solid white; border-radius: 10px;" )  
                h2: a( href="https://www.zotero.org/groups/galaxy" ) <i class="fas fa-book-open"></i> &nbsp; Recent Pubs
                p
                    strong
                        a( href="https://doi.org/10.1007/978-1-0716-1307-8_20" ) RNA-Seq Data Analysis in Galaxy
                    small
                        |  - Batut, B., van den Beek, M., Doyle, M. A., & Soranzo, N. (2021)
                        |  In E. Picardi (Ed.), RNA Bioinformatics (pp. 367–392). Springer US. 
                p
                    strong
                        a( href="https://doi.org/10.1371/journal.pcbi.1007261" ) JBrowse Connect: A server API to connect JBrowse instances and users
                    small
                        |  - Yao, E., Buels, R., Stein, L., Sen, T. Z., & Holmes, I. (2020).
                        em
                            |  PLOS Computational Biology,
                        |  16(8), e1007261. 
                p
                    strong
                        a( href="https://doi.org/10.1186/s13321-020-00451-6" ) Intuitive, reproducible high-throughput molecular dynamics in Galaxy: A tutorial
                    small
                        |  - Bray, S. A., Senapathi, T., Barnett, C. B., & Grüning, B. A. (2020).
                        em
                            |  Journal of Cheminformatics,
                        |  12(1), 54. 
                p
                    strong
                        a( href="https://doi.org/10.1101/2021.03.25.437046" ) Freely accessible ready to use global infrastructure for SARS-CoV-2 monitoring
                    small
                        |  - Maier, W., Bray, S., Beek, M. van den, Bouvier, D., Coraor, N., Miladi, M., Singh, B., Argila, J. R. D., Baker, D., Roach, N., Gladman, S., Coppens, F., Martin, D., Lonie, A., Gruning, B., Pond, S. K., & Nekrutenko, A. (2021)
                        em
                            |  BioRxiv,
                        |  2021.03.25.437046.
                p
                    strong
                        a( href="https://doi.org/10.1101/2021.03.17.435706" ) Fast and accurate genome-wide predictions and structural modeling of protein-protein interactions using Galaxy
                    small
                        |  - Guerler, A., Baker, D., Beek, M. van den, Bouvier, D., Coraor, N., Schatz, M. C., & Nekrutenko, A. (2021).
                        em
                            |  BioRxiv,
                        |  2021.03.17.435706.
