extends layout.pug


mixin renderSplash(item)
   h1 !{item.title}
   p.lead !{item.contents}


block content
    section.section-content
        div.row.mb-3#splash-row
            h1.display-4
                | Galaxy Community Hub
    section.section-content
        div.row.text-center
            div.col-2
            div.col-8
                h2.display-5
                    | 25 February:
            div.col-2
        div.row.text-center
            div.col-6
                h2.display-5
                    a( href="/events/2021-02-papercuts/" )
                        img.img-fluid( src="/events/2021-02-papercuts/papercuts-2021-02.png" alt="Febraruy Papercuts CoFest" )
                    a( href="/events/2021-02-papercuts/" )
                        February Papercuts CoFest
            div.col-6
                h2.display-5
                    a( href="/events/2021-02-gtn/" )
                        img.img-fluid(src="/images/galaxy-logos/gtn-cofests.png" alt="Feburary GTN CoFest and Community Calls" )
                    a( href="/events/2021-02-gtn/" )
                        GTN CoFest & Community Calls
        div.row.text-center
            div.col-2
            div.col-8
                h2.display-5
                    | Global, online, and free
            div.col-2

    section.section-content
        div.row#splash-row
            div.col-sm-12
                p.lead !{contents}
        div.row
            div.col-sm-4
                h2: a( href="/news/" ) News
                each item in news.slice(0,3)
                    p
                        if item.external_url
                            a( href=item.external_url ) #{item.title}
                        else
                            a( href=item.link ) #{item.title}
                        if item.tease
                            |  – !{marked(item.tease).replace("<p>","").replace("</p>","")}
                h2: a( href="/blog/" ) Blog
                each item in blog.slice(0,2)
                    p
                        if item.external_url
                            a( href=item.external_url ) #{item.title}
                        else
                            a( href=item.link ) #{item.title}
                        if item.tease
                            |  – !{marked(item.tease).replace("<p>","").replace("</p>","")}

            div.col-sm-4
                h2: a( href="/events/" ) Events
                - var events_counter = 0
                each item in events.slice().reverse()
                    if events_counter < 5 && item.date != undefined && moment(item.date) >= moment(new Date()).subtract((item.days || 1), 'days')
                        - events_counter += 1
                        p
                            if item.external_url
                                a( href=item.external_url ) #{item.title}
                                if item.contents != ''
                                    |  [
                                    a( href=item.link )
                                        | hub page
                                    | ]
                            else
                                a( href=item.link ) #{item.title}
                            if item.tease
                                |  – !{marked(item.tease).replace("<p>","").replace("</p>","")}

            div.col-sm-4
                div#twitter_timeline( style="height:400px" )
                    h2
                        a(href="http://twitter.com/galaxyproject") @galaxyproject
                        a.twitter-timeline(data-dnt="true" height="400" data-chrome="noheader nofooter noscrollbar noborders transparent" href="https://twitter.com/galaxyproject" data-widget-id="384667676347363329")
                    script(type='text/javascript').
                        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
