doctype html

mixin renderToc(items)
    ul.toc
        each toc_item in items
            li
                a( href="#"+toc_item.id ) #{toc_item.text}
                if toc_item.children.length > 0
                    +renderToc(toc_item.children)

head( lang="en" )
    block title
        title=title
    meta( charset="utf-8" )
    meta( http-equiv="X-UA-Compatible" content="IE=edge" )
    meta( name="viewport" content="width=device-width, initial-scale=1" )
    meta( name="description" content="" )
    meta( name="author" content="" )

    link( rel="stylesheet" type="text/css" href="/css/styles.css" )
    link( rel="stylesheet" type="text/css" href="/css/font-awesome.css" )
    link( rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=EB+Garamond" )

    script( src="http://localhost:35729/livereload.js" )
    script( src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.0/fullcalendar.min.js")

body

    header#logonav: div.container: div.row
        div.col-sm-4.text-center: div.logo
            a( href="http://galaxyproject.org/" ) The Galaxy Project: Online bioinformatics analysis for everyone
        div.col-sm-8: a( href="/" )
            h1
                div Community Wiki
                small documenting all things Galaxy
            div#edit_page
                a( href="https://github.com/galaxyproject/galaxy-site/blob/master/src/"+orig_path )
                    span.fa.fa-github
                    span Edit on GitHub

    //- Static navbar
    div.container: div.row
        div.col-md-12: nav#topnavbar( class="navbar navbar-default navbar-static-top" role="navigation" )
            div.navbar-header
                button( type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" )
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            div.navbar-collapse.collapse
                ul.nav.navbar-nav
                    each entry in menu
                        if entry.links
                            li.dropdown
                                a( href="#" class="dropdown-toggle" data-toggle="dropdown" role="button") #{entry.title}
                                    span.caret
                                ul.dropdown-menu
                                    each val in entry.links
                                        li
                                            if val.link.substring(0,4) == "http"
                                                a( href=val.link ) #{val.title}
                                            else
                                               a( href="/" + val.link + "/" ) #{val.title}
                        else
                            li: a( href="#") #{entry.title}
                ul.nav.navbar-nav.navbar-right
                    li
                        form(class='navbar-form')
                            div.input-group
                                input(class='form-control' placeholder='Search Galaxy')
                                span.input-group-btn
                                    button(class="btn btn-secondary" type="submit")
                                        span.fa.fa-search

    div.container: div.row
        if toc
            div.col-md-9
                block section
                    section.section-content
                        block content
                            div !{ contents }
            div.col-md-3
                div#sidebar.navbar.nav.navbar-default
                    +renderToc(toc)
        else
            div.col-md-12
                block section
                    section.section-content
                        block content
                            div !{ contents }

    block footer
        footer: div.container: div.row: div.col-md-12
            p The Galaxy Project is supported in part by NSF, NHGRI, The Huck Institutes of the Life Sciences, The Institute for CyberScience at Penn State, and Johns Hopkins University.

    script( src="/js/jquery.min.js" )
    script( src="/js/bootstrap.min.js" )
