doctype html

mixin renderToc(items)
    ul.nav.nav-stacked.toc.affix
        each toc_item in items
            li
                a( href="#"+toc_item.id ) #{toc_item.text}
                if toc_item.children.length > 0
                    +renderToc(toc_item.children)

head( lang="en" )
    block title
        title=title
    meta( charset="utf-8" )
    meta( http-equiv="X-UA-Compatible" content="IE=edge" )
    meta( name="viewport" content="width=device-width, initial-scale=1" )
    meta( name="description" content="" )
    meta( name="author" content="" )

    link( rel="stylesheet" type="text/css" href="/css/styles.css" )
    link( rel="stylesheet" type="text/css" href="/css/font-awesome.css" )

    script( src="http://localhost:35729/livereload.js" )
    script( type='text/javascript' ).
        // Gitter integrated #galaxyproject chat.
        window.gitter = {}
        window.gitter.chat = {}
        window.gitter.chat.options = { room: 'galaxyproject/Lobby' }
        // This handles correct positioning when using location hashes.
        var shiftWindow = function() { scrollBy(0, -70) };
        if (location.hash) shiftWindow();
        window.addEventListener("hashchange", shiftWindow);
        window.onload = shiftWindow;
    script( src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer )

body

    header.navbar.navbar-default.navbar-inverse.navbar-fixed-top( role="navigation" ): div.container: div.row
        div.col-md-12
            div.navbar-header
                button( type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" )
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand( href="/" )
                  img( src="/images/galaxy_logo_hub_white.svg" width="116" alt="Galaxy Community Hub" )
            div.navbar-collapse.collapse
                ul.nav.navbar-nav
                    each entry in menu
                        if entry.links
                            li.dropdown
                                a( href="#" class="dropdown-toggle" data-toggle="dropdown" role="button") #{entry.title}
                                    span.caret
                                ul.dropdown-menu
                                    each val in entry.links
                                        li
                                            if val.link.substring(0,4) == "http"
                                                a( href=val.link ) #{val.title}
                                            else
                                               a( href="/" + val.link + "/" ) #{val.title}
                        else
                            li: a( href="#") #{entry.title}

                ul.nav.navbar-nav.navbar-right
                    li
                        a( href="https://github.com/galaxyproject/galaxy-hub/blob/master/src/"+orig_path )
                            span.fa.fa-github
                            span &nbsp; Edit on GitHub

                // ul.nav.navbar-nav.navbar-right
                //     li
                //         form(class='navbar-form')
                //             div.input-group
                //                 input(class='form-control' placeholder='Search Galaxy')
                //                 span.input-group-btn
                //                     button(class="btn btn-secondary" type="submit")
                //                         span.fa.fa-search

    div.container#maincontainer: div.row
        block content
            div !{ contents }

    footer.navbar-default.navbar-static-bottom
        div.container: div.row: div.col-md-12
            block footer:
              p.navbar-text The Galaxy Project is supported in part by NSF, NHGRI, The Huck Institutes of the Life Sciences, The Institute for CyberScience at Penn State, and Johns Hopkins University.

    script( src="/js/jquery.min.js" )
    script( src="/js/bootstrap.min.js" )
