doctype html

mixin renderToc(items)
    ul.nav.flex-column
        each toc_item in items
            li.nav-item
                a.nav-link( href="#"+toc_item.id ) !{toc_item.text}
                if toc_item.children.length > 0
                    +renderToc(toc_item.children)

mixin renderTeaseOrSlice(item)
    if item.tease
        | #{item.tease}
    else if item.contents && typeof item.contents === "string"
        | !{_.replace(_.replace(marked(item.contents), /(<.+?\>|&nbsp;)/g, ''),/\s+/g,' ').slice(0,80) + "..."}

mixin renderPageTitle()
    if !skip_title_render
        h1.pageTitle #{ title }
        +renderPageTease

mixin renderPageTease()
    if tease
        p: em #{tease}

-
    function deGitUrl(url) {
        if (url.startsWith("/")) {
            if (url.startsWith("/src/")) {
                url = url.substring(4);
            }
            if (url.includes("/index.md")) {
                url = url.substring(0,url.indexOf("/index.md")) + url.substring(url.indexOf("/index.md")+9);
            }
        }
        return url;
    }

    var platform_columns = [ "Server", "Cloud", "Deploy- able" ]; 
    var use_platforms = new Map();
    use_platforms.set("public-server", {
        tag: "public-server",
        link: "/use/#public-server",
        column: "Server",
        short_text: 'Server',
        text: "Public server"
    } );
    use_platforms.set("commercial-cloud", {
        tag: "commercial-cloud",
        link: "/use/#commercial-cloud",
        column: "Cloud",
        short_text: 'Commercial',
        text: "Commercial Cloud"
    } );
    use_platforms.set("academic-cloud", {
        tag: "academic-cloud",
        link: "/use/#academic-cloud",
        column: "Cloud",
        short_text: 'Academic',
        text: "Academic Cloud"
    } );
    use_platforms.set("container", {
        tag: "container",
        link: "/use/#container",
        column: "Deploy- able",
        short_text: 'Container',
        text: 'Container'
    } );
    use_platforms.set("vm", {
        tag: "vm",
        link: "/use/#vm",
        column: "Deploy- able",
        short_text: 'VM',
        text: 'Virtual Machine'
    } );
    var possible_platforms = [];
    use_platforms.forEach(function(p){ possible_platforms.push(p)});

    function getPlatformInfo(platform_group_tag) {
        if (use_platforms.has(platform_group_tag)) {
            return use_platforms.get(platform_group_tag);
        }
        return {
            tag: "NOTHING",
            link: "NOTHING",
            short_text: 'NOTHING',
            text: 'NOTHING'
        }
    }
    function getScopeInfo(scope_tag) {
        if (scope_tag == "usegalaxy") {
            return {
                link: "/use/#usegalaxy-dir",
                text: "UseGalaxy server",
                short_text: "UseGalaxy"
            }
        }
        if (scope_tag == "general") {
            return {
                link: "/use/#genomics",
                text: "Genomics",
                short_text: "Genomics"
            }
        }
        if (scope_tag == "domain") {
            return {
                link: "/use/#domain",
                text: "Domain specific",
                short_text: "Domain"
            }
        }
        if (scope_tag == "tool-publishing") {
            return {
                link: "/use/#tool-publishing",
                text: "Tool Publishing",
                short_text: "Tools"
            }
        }
        return 'NOTHING!'
    }


head( lang="en" )
    block title
        title=title
    meta( charset="utf-8" )
    meta( http-equiv="X-UA-Compatible" content="IE=edge" )
    meta( name="viewport" content="width=device-width, initial-scale=1" )
    meta( name="description" content="" )
    meta( name="author" content="" )
    script( src="/js/bundle.js" )

    if highlight
        link( rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css" )
        script( src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js" )
        script( type='text/javascript' ).
            hljs.initHighlightingOnLoad();

    script( type='text/javascript' ).
        // Gitter integrated #galaxyproject chat.
        window.gitter = {}
        window.gitter.chat = {}
        window.gitter.chat.options = { room: 'galaxyproject/Lobby' }
        // This handles correct positioning when using location hashes.
        var shiftWindow = function() { scrollBy(0, -70) };
        if (location.hash) shiftWindow();
        window.addEventListener("hashchange", shiftWindow);
        window.onload = shiftWindow;

    script( src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer )

    if mathjax
        // set mathjax: true to use mathjax on content pages.
        script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")

        script(type="text/x-mathjax-config").
            MathJax.Hub.Config({
              tex2jax: {
                inlineMath: [['$','$'], ['\\(','\\)']],
                displayMath: [['$$','$$'], ['\[','\]']],
                processEscapes: true,
                processEnvironments: true,
                skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
                TeX: { equationNumbers: { autoNumber: "AMS" },
                     extensions: ["AMSmath.js", "AMSsymbols.js"] }
              }
            });
            MathJax.Hub.Queue(function() {
                // Fix <code> tags after MathJax finishes running. This is a
                // hack to overcome a shortcoming of Markdown. Discussion at
                // https://github.com/mojombo/jekyll/issues/199
                var all = MathJax.Hub.getAllJax(), i;
                for(i = 0; i < all.length; i += 1) {
                    all[i].SourceElement().parentNode.className += ' has-jax';
                }
            });

    script(type='text/javascript').
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-45719423-4', 'auto');
        ga('send', 'pageview');

    script(type='text/javascript').
        $(document).ready(function(){
            // select a random valid slide from carousel and make it active
            var items = $(".carousel-item");
            var random_slide = Math.floor(Math.random() * (items.length));
            $(items[random_slide]).addClass("active");
            $($(".carousel-indicators li")[random_slide]).addClass("active");
        });

    if redirect
        script(type='text/javascript').
            $(function(){
                $('#maincontainer').prepend("<div class='alert alert-warning'><strong>Note: </strong>This content has a new home at <a href='#{redirect}'>#{redirect}</a>, which you will be redirected to in 5 seconds.</div>");
                window.setTimeout(function(){
                    window.location.href = "#{redirect}";
                }, 5000)
            });

body
    div#masthead
        if localdev
            div.d-flex.w-100.p-2.justify-content-center(style="color: orange")
                strong
                    i.fas.fa-exclamation-triangle
                    | This is a Galaxy Hub under construction, served up locally
                    i.fas.fa-exclamation-triangle
        nav.container.navbar.navbar-expand-lg.navbar-dark.justify-content-center( role="navigation" )
            a.navbar-brand( href="/" )
                img( height="30" src="/images/galaxy_logo_hub_white.svg" alt="Galaxy Community Hub" )
            button.navbar-toggler.ml-auto(type="button" data-toggle="collapse" data-target="#navbarToggleWrapper" aria-controls="navbarToggleWraper" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            div.collapse.navbar-collapse.mx-auto#navbarToggleWrapper
                ul.navbar-nav
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                            | Use
                            span.caret
                        ul.dropdown-menu
                            li
                                a.dropdown-item(href='/use/') Use Galaxy
                            li
                                a.dropdown-item(href='/cloud/') Cloud
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button')
                            | Community
                            span.caret
                        ul.dropdown-menu
                            li
                                a.dropdown-item(href='/events/gcc2019/') GCC2019
                            li
                                a.dropdown-item(href='/community/') About
                            li
                                a.dropdown-item(href='/events/') Events
                            li
                                a.dropdown-item(href='/news/') News
                            li
                                a.dropdown-item(href='/blog/') Blog
                            li
                                a.dropdown-item(href='/publication-library/') Publications
                            li
                                a.dropdown-item(href='/galaxy-project/statistics/') Stats
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button')
                            | Education
                            span.caret
                        ul.dropdown-menu
                            li
                                a.dropdown-item(href='/learn/') Learn Galaxy
                            li
                                a.dropdown-item(href='/teach/') Teach
                            li
                                a.dropdown-item(href='/teach/gtn/') Training Network
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button')
                            | Deploy & Develop
                            span.caret
                        ul.dropdown-menu
                            li
                                a.dropdown-item(href='/admin/get-galaxy/') Get Galaxy
                            li
                                a.dropdown-item(href='/admin/') Administration
                            li
                                a.dropdown-item(href='/docs/') Documentation
                            li
                                a.dropdown-item(href='/tools/') Tools
                            li
                                a.dropdown-item(href='/develop/') Development
                            li
                                a.dropdown-item(href='/develop/api/') API
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button')
                            | Support
                            span.caret
                        ul.dropdown-menu
                            li
                                a.dropdown-item(href='/support/') Hub
                            li
                                a.dropdown-item(href='https://help.galaxyproject.org/') Galaxy Help Forum
                ul.navbar-nav.ml-auto
                    li
                        form.my-2(class='navbar-form' method='get' action='/search/')
                            div.input-group
                                input.form-control#search-input(name='q' placeholder='Search Galaxy')
                                span.input-group-btn
                                    button(class="btn btn-secondary" type="submit")
                                        span.fa.fa-search
                    li.my-auto
                        a.nav-link( href="https://github.com/galaxyproject/galaxy-hub/blob/master/src/"+orig_path )
                            i.fab.fa-lg.fa-github
                            span(title="Edit this page") &nbsp; Edit
    div.container#maincontainer: div.row
        block content
            div !{ contents }

    footer.navbar-default.navbar-static-bottom
        div.container: div.row: div.col-md-12
            block footer:
              p.navbar-text The Galaxy Project is supported in part by NSF, NHGRI, The Huck Institutes of the Life Sciences, The Institute for CyberScience at Penn State, and Johns Hopkins University.
