extends layout.pug

block content
    div.col-md-12
        section.section-content
            h1 !{ title }
            div !{ contents }

            table.table.table-striped
                tbody
                    each item in news
                        tr
                            td: span.text-nowrap #{helpers.moment(item.date).format("MMMM Do YYYY")}
                            td: a( href=item.link ) #{item.title} 
