
extends layout.pug

block content

    div.row !{ contents }

    each item in news
        p.row
            a( href=item.link ) #{item.title} 
            if item.tease
                br
                | !{helpers.marked(item.tease).replace("<p>","").replace("</p>","")}       
            br
            small 
                if item.author
                    | Posted by #{item.author} on 
                | #{helpers.moment(item.date).format("MMMM Do YYYY")}
