extends layout.pug

block content
    div.col-md-12
        section.section-content
            h1 !{ title }
            div !{ contents }

            table.table.table-striped
                tbody
                    each item in news
                        tr
                            td: span.text-nowrap #{moment(item.date).format("MMMM Do YYYY")}
                            td: a( href=item.link ) #{item.title}
                            td: p.small
                                +renderTeaseOrSlice(item)
            h2(id="add-news-item") Adding a news item
            p
                | To add a news item, create a new folder in 
                a(href="https://github.com/galaxyproject/galaxy-hub/tree/master/src/news") https://github.com/galaxyproject/galaxy-hub/tree/master/src/news
                |  with an 'index.md' file.  It's probably easiest to copy the format from one of the other existing news items.
