extends layout.pug

mixin renderServer()
    section.section-content
        if image
            if image.startsWith("/src")
                img.img-fluid(src=image.substring(4) style="float:right; margin: 20px 0px 5px 10px; padding: 2px; border: 1px solid #666")
            else
                img.img-fluid(src=image style="float:right; margin: 20px 0px 5px 10px; padding: 2px; border: 1px solid #ddd")
        +renderPageTitle
        p !{marked(summary).replace("<p>","").replace("</p>","")}

        if server_group == "usegalaxy"
            p This is a 
               strong
                   a(href="/public-galaxy-servers/#usegalaxy") UseGalaxy server.
        else if server_group == "general"
            p This is a 
               strong
                   a(href="/public-galaxy-servers/#general") General Purpose / Genomics server.
        else if server_group == "domain"
            p This is a 
               strong
                   a(href="/public-galaxy-servers/#domain") Domain specific server.
        else if server_group == "tool-publishing"
            p This is a 
               strong
                   a(href="/public-galaxy-servers/#tool-publishing") Tool Publishing server.
        h2 Links
        ul
            each serverLink in server_links
                li
                    a( href=deGitUrl(serverLink.link_url) ) #{serverLink.link_text}
        div: p !{ contents }

block content
    if toc
        div.col-md-9
            +renderServer
        div.col-md-3
            div#sidebar
                +renderToc(toc)
    else
        div.col-md-12
            +renderServer
