extends layout.pug

mixin renderResource()
    +renderPageTitle
    if image
        div(class="float-right" style="margin: 0px 0px 5px 10px; padding: 2px; border: 1px solid #ccc")
            a(href=url)
                if image.startsWith("/src")
                    img.img-responsive(src=image.substring(4))
                else
                    img.img-responsive(src=image)
    table(class="table table-striped" style="width: auto")
        each platform in platforms
            tr
                th
                    - var platformGroupLinkInfo = getPlatformInfo(platform.platform_group)
                    | #{platformGroupLinkInfo.text}:
                td
                    div( style="padding-left: 0.5em; text-indent: -0.5em;")
                        a( href=deGitUrl(platform.platform_url) ) #{platform.platform_text}
        tr
            th Scope:
            td
                div( style="padding-left: 0.5em; text-indent: -0.5em;")
                    - var scopeLinkInfo = getScopeInfo(scope)
                    a( href=scopeLinkInfo.link ) #{scopeLinkInfo.text}
        tr
            th Summary:
            td
                != marked(summary).replace("<p>","").replace("</p>","")
    h2 Comments
    ul
        each comment in comments
            li
                != marked(comment).replace("<p>","").replace("</p>","")

    h2 User Support
    ul
        if user_support > ""
            each support in user_support
                li
                    != marked(support).replace("<p>","").replace("</p>","")

    h2 Quotas
    ul
        if quotas > ""
            each quota in quotas
                li
                    != marked(quota).replace("<p>","").replace("</p>","")

    h2 Citations
    ul
        if citations > ""
            each citation in citations
                li
                    != marked(citation).replace("<p>","").replace("</p>","")

        if pub_libraries > ""
            each pub_lib in pub_libraries
                li
                    a( href=("https://www.zotero.org/groups/1732893/galaxy/items/tag/%3E" + pub_lib ) ) #{pub_lib} tagged publications
                    |  in the 
                    a( href="/publication-library/" ) Galaxy Publication library

    h2 Sponsors
    ul
        if sponsors > ""
            each sponsor in sponsors
                li
                    != marked(sponsor).replace("<p>","").replace("</p>","")

    div: p !{ contents }

block content
    section.section-content
        if toc
            div.col-md-9
                +renderResource
            div.col-md-3
                div#sidebar
                    +renderToc(toc)
        else
            div.col-md-12
                +renderResource
