extends layout.pug

mixin renderResource()
    if image
        if image.startsWith("/src")
            img.img-responsive(src=image.substring(4) style="float:right; margin: 20px 0px 5px 10px; padding: 2px; border: 1px solid #666")
        else
            img.img-responsive(src=image class="pull-right" style="margin: 20px 0px 5px 10px; padding: 2px; border: 1px solid #ddd")
    +renderPageTitle
    table(class="table table-striped" style="width: auto")
        tr
            th Platform(s):
            td
                each platform in platforms
                     a( href=deGitUrl(platform.platform_url) ) #{platform.platform_text}
                     br
        tr
            th Summary:
            td
                != helpers.marked(summary).replace("<p>","").replace("</p>","")
        tr
            th Scope:
            td
                != scopeTagToHTML(scope)

    h2 Comments
    ul
        each comment in comments
            li
                != helpers.marked(comment).replace("<p>","").replace("</p>","")

    h2 User Support
    ul
        each support in user_support
            li
                != helpers.marked(support).replace("<p>","").replace("</p>","")

    h2 Quotas
    ul
        each quota in quotas
            li
                != helpers.marked(quota).replace("<p>","").replace("</p>","")

    h2 Citations
    ul
        if citations > ""
            each citation in citations
                li
                    != helpers.marked(citation).replace("<p>","").replace("</p>","")

        if pub_library > ""
            li
                a( href=("https://www.zotero.org/groups/1732893/galaxy/items/tag/%3E" + pub_library ) ) #{pub_library} tagged publications
                |  in the 
                a( href="/publication-library/" ) Galaxy Publication library
    div: p !{ contents }

block content
    section.section-content
        if toc
            div.col-md-9
                +renderServer
            div.col-md-3
                div#sidebar
                    +renderToc(toc)
        else
            div.col-md-12
                +renderResource
