extends layout.pug

mixin renderResource()
    if image
        if image.startsWith("/src")
            img.img-responsive(src=image.substring(4) style="float:right; margin: 20px 0px 5px 10px; padding: 2px; border: 1px solid #666")
        else
            img.img-responsive(src=image class="pull-right" style="margin: 20px 0px 5px 10px; padding: 2px; border: 1px solid #ddd")
    +renderPageTitle
    p !{helpers.marked(summary).replace("<p>","").replace("</p>","")}
    table(class="table table-striped" style="width: auto")
        tr
            th Resource type(s):
            td
                if resource_group == "usegalaxy"
                    a(href="/use/#usegalaxy") UseGalaxy server;
                if resource_group == "general"
                    a(href="/use/#general") General Purpose / Genomics;
                if resource_group == "domain"
                    a(href="/use/#domain") Domain specific;
                if resource_group == "tool-publishing"
                    a(href="/use/#tool-publishing") Tool Publishing;
        tr
            th Platform(s):
            td
                if platform=="public-server"
                    | Publicly server.
    h2 Links
    ul
        each serverLink in server_links
            li
                a( href=deGitUrl(serverLink.link_url) ) #{serverLink.link_text}
    div: p !{ contents }

block content
    section.section-content
        if toc
            div.col-md-9
                +renderServer
            div.col-md-3
                div#sidebar
                    +renderToc(toc)
        else
            div.col-md-12
                +renderResource
