extends layout.pug

mixin renderResourceRow(item, platform_tag, with_purview)
    tr
        td
            a( href=item.link ) #{item.title}
        if platform_tag == "all"
            each platform_column in platform_columns
                td
                    each platform in item.platforms
                        - var platform_info = use_platforms.get(platform.platform_group)
                        if platform_info.column == platform_column
                            a( href=deGitUrl(platform.platform_url) ) #{platform_info.short_text}
        else
            td
                - var platform_info = use_platforms.get(platform_tag)
                each platform in item.platforms
                    if platform.platform_group == platform_tag 
                        a( href=deGitUrl(platform.platform_url) ) #{platform_info.short_text}
        td !{marked(item.summary).replace("<p>","").replace("</p>","")}
        if with_purview
            td
                each platform in item.platforms
                    if platform.platform_purview
                        | #{platform.platform_purview}
        td
            - var scopeInfo = getScopeInfo(item.scope)
            a( href=scopeInfo.link ) #{scopeInfo.short_text}

block content
    link( rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" )
    link( rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css")
    script( src="//code.jquery.com/jquery-3.3.1.js" )
    script( src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" )
    script(type='text/javascript').
        $(document).ready( function () {
            $(".table.table-striped").DataTable({
                    "lengthMenu": [ [20, 40, 80, -1], [20, 40, 80, "All"] ],
                    "search": {
                        "regex": true
                    }
                });
        });
    style( type="text/css" ).
        table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
            content: "";
            right: 0;
        }
        table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
            content: "";
            right: 0;
        }
        #resource-tabs .nav-link {
            font-weight: bold;
        }
        #resource-tabs .nav-fill {
            background-color: #f2f2f2;
        };
    - var resources_malleable = use.slice().sort( function(a,b){return a.title.toLowerCase().localeCompare(b.title.toLowerCase())} )
    div.col-md-12
        section.section-content
            h1 !{title}
            div !{ contents }

            br
            ul( class="nav nav-tabs nav-fill" id="resource-tabs" role="tablist" )
                li( class="nav-item" )
                    a( class="nav-link active" id="usegalaxy-tab" data-toggle="tab" href="#usegalaxy-pane" role="tab" aria-controls="usegalaxy-pane" aria-selected="true" ) UseGalaxy 
                li( class="nav-item" )
                    a( class="nav-link" id="all-resources-tab" data-toggle="tab" href="#all-resources-pane" role="tab" aria-controls="all-resources-pane" aria-selected="true" ) All
                li( class="nav-item" )
                    a( class="nav-link" id="public-server-tab" data-toggle="tab" href="#public-server-pane" role="tab" aria-controls="public-server-pane" aria-selected="true" ) Public Servers
                li( class="nav-item" )
                    a( class="nav-link" id="academic-cloud-tab" data-toggle="tab" href="#academic-cloud-pane" role="tab" aria-controls="academic-cloud-pane" aria-selected="true" ) Academic Clouds
                li( class="nav-item" )
                    a( class="nav-link" id="commercial-cloud-tab" data-toggle="tab" href="#commercial-cloud-pane" role="tab" aria-controls="commercial-cloud-pane" aria-selected="true" ) Commercial Clouds
                li( class="nav-item" )
                    a( class="nav-link" id="containers-tab" data-toggle="tab" href="#containers-pane" role="tab" aria-controls="containers-pane" aria-selected="true" ) Containers
                li( class="nav-item" )
                    a( class="nav-link" id="vms-tab" data-toggle="tab" href="#vms-pane" role="tab" aria-controls="vms-pane" aria-selected="true" ) VMs

            div( class="tab-content" id="resource-tabs-content" )
                div( class="tab-pane fade show active" id="usegalaxy-pane" role="tabpanel" aria-labelledby="usegalaxy-tab" ) 
                    h2(id="usegalaxy-dir" class="nav-item") UseGalaxy Resources
                    p
                        a(href="/usegalaxy/") UseGalaxy servers 
                        | implement a common core set of tools and reference genomes, and are open to anyone to use.  They also contain tools and genomes that are local to each server. Each is backed by significant computational resources and they are excellent places to get started with Galaxy, and to share and publish your results.
                    table.table.table-striped
                        thead
                            tr
                                th Resource
                                th Server
                                th Summary
                                th Keywords
                        tbody
                            each item in resources_malleable
                                if item.scope == "usegalaxy"
                                    +renderResourceRow(item, "public-server", false)
                    p
                        | You can 
                        a(href="https://status.galaxyproject.org/") check the status of all UseGalaxy resources here
                        | .

                div( class="tab-pane fade show" id="all-resources-pane" role="tabpanel" aria-labelledby="all-resources-tab" ) 
                    h2(id="all-resources" class="nav-item") All Resources
                    p
                        | Complete listing of resources for using Galaxy.
                    table.table.table-striped
                        thead
                            tr
                                th Resource
                                each platform_column in platform_columns
                                    th !{platform_column}
                                th Summary
                                th Keywords
                        tbody
                            each item in resources_malleable
                                +renderResourceRow(item, "all", false)

                div( class="tab-pane fade show" id="public-server-pane" role="tabpanel" aria-labelledby="public-server-tab" ) 
                    h2(id="public-server") Public Servers
                    p
                        | Public Servers are acccessible to (at least) any academic researcher in the world.  Some require you to create/request an account, aand they may have restrictive quotas, but often, to use these, just go the website and start running analyses. These are free to use.
                    P
                        | The folks are Freiburg have put together a 
                        a(href="https://stats.usegalaxy.eu/d/000000020/public-galaxy-servers?orgId=1") public Galaxy server dashboard 
                        | to track the status and some of the supported features of the servers listed here.  See the 
                        a(href="/blog/2017-10-public-galaxy-dashboard/") blog post 
                        | for more info.
                    table.table.table-striped
                        thead
                            tr
                                th Resource
                                th Link
                                th Summary
                                th Keywords
                        tbody
                            each item in resources_malleable
                                each platform in item.platforms
                                    if platform.platform_group == "public-server"
                                        +renderResourceRow(item, platform.platform_group, false)

                div( class="tab-pane fade show" id="academic-cloud-pane" role="tabpanel" aria-labelledby="academic-cloud-tab" ) 
                    h2(id="academic-cloud") Academic Cloud Services
                    p
                        | These are academic cloud providers where ready to run Galaxy instances are available. Many of these are restricted to users within a particular geographic domain, for example, a country, province, or consortium of countries. These are often free to eligible researchers.
                    table.table.table-striped
                        thead
                            tr
                                th Resource
                                th Link
                                th Summary
                                th Purview
                                th Keywords
                        tbody
                            each item in resources_malleable
                                each platform in item.platforms
                                    if platform.platform_group == "academic-cloud"
                                        +renderResourceRow(item, platform.platform_group, true)

                div( class="tab-pane fade show" id="commercial-cloud-pane" role="tabpanel" aria-labelledby="commercial-cloud-tab" ) 
                    h2(id="commercial-cloud") Commercial Cloud Services
                    p
                        | These are commercial cloud providers where ready to run Galaxy instances are available.  You need to pay for these, but you only need to pay for as long as you need the instance to be up.
                    table.table.table-striped
                        thead
                            tr
                                th Resource
                                th Link
                                th Summary
                                th Keywords
                        tbody
                            each item in resources_malleable
                                each platform in item.platforms
                                    if platform.platform_group == "commercial-cloud"
                                        +renderResourceRow(item, platform.platform_group, false)

                div( class="tab-pane fade show" id="containers-pane" role="tabpanel" aria-labelledby="containers-tab" ) 
                    h2(id="container") Containers
                    p
                        | These Galaxy instances are prepackaged using container technology, usually Docker.  You run these locally by first installing the container technology (Docker is easy), and then launching the containerized Galaxy within that technology.  These use local resources.
                    table.table.table-striped
                        thead
                            tr
                                th Resource
                                th Link
                                th Summary
                                th Keywords
                        tbody
                            each item in resources_malleable
                                each platform in item.platforms
                                    if platform.platform_group == "container"
                                        +renderResourceRow(item, platform.platform_group, false)

                div( class="tab-pane fade show" id="vms-pane" role="tabpanel" aria-labelledby="vms-tab" ) 
                    h2(id="vm") Virtual Machines (VMs)
                    p
                        | VMs are similar to containers but use a different technology.  Containers take significant advantage of your computer's underlying operating system.  Virtual Machines include an entire supporting operating system, and are significantly larger than containers.  You run these locally by first installing a VM player like VirtualBox, and then downloading and launching the VM within that player.  These use local resources.
                    table.table.table-striped
                        thead
                            tr
                                th Resource
                                th Link
                                th Summary
                                th Keywords
                        tbody
                            each item in resources_malleable
                                each platform in item.platforms
                                    if platform.platform_group == "vm"
                                        +renderResourceRow(item, platform.platform_group, false)

            br
            br
            hr

            h2( id="about-this-directory" ) About This Directory

            p
                | The Galaxy Project's public server 
                a( href="http://usegalaxy.org/" ) usegalaxy.org
                |  can meet many needs, but it is not suitable for everything (see 
                a( href="/choices/" ) Choices
                |  for why). Fortunately the Galaxy 
                a( href="/community/" ) Community
                |  has created Galaxy instances in many different forms and for many different applications.

            p
                | This directory lists publicly accessible
            ul
                li Galaxy servers,
                li cloud services that support Galaxy instances, and
                li virtual machines and containers that can be easily deployed for your own server.

            p
                strong If you want to use Galaxy with little or no effort creating an instance, this is where you should start.

            h2(id="resource-keywords") Resource Keywords
            p
                | Each resource has a set of keywords associated with them.

            h3(id="real-keywords") Real keywords
            p
            | (<em>What about listing these by the resource's domain, for example, the research methodology (e.g., RNA-Seq), the clade (e.g., crops), or field e.g., metagenomics) that a resource is targeted at? We are working on it.</em>)

            h3(id="scope") Scope
            p
                | Initially, there is only one keyword per resource and that defines the <em>scope</em> of the resource:

            h4(id="usegalaxy") UseGalaxy
            p
                | UseGalaxy servers implement a common core set of tools and reference genomes, and are open to anyone to use. See the [UseGalaxy directory below](#usegalaxy-dir).

            h4(id="genomics") Genomics
            p
                | These servers implement a broad range of tools and aren't specific to any part of the tree of life, or to any type of analysis.

            h4(id="domain") Domain
            p
                | Domain resources specialize in either a particular branch of the tree of life or in particular types of analysis. Within their specializations, domain resources offer a wide variety of tools.

            h4(id="tool-publishing") Tool Publishing
            p
                | Tool publishing resources make tools easily available so that researchers can use them without having to install and use command line versions. The distinction between <em>domain</em> resources and <em>tool publishing</em> resources is fuzzy. In general, tool publishing resources expose tools from a particular organization, while domain resources include tools / datasets from other organizations and have a larger goal in mind.

            h2(id="add-a-resource-to-this-directory") Add a resource to this directory
            p
                | If you maintain a Galaxy resource that can be listed on this directory, then please <strong><a href="https://docs.google.com/forms/d/e/1FAIpQLSd4xzUP3pSYjTHiLoRE10zSJbplDVW7EbGy8EJ9JS0yy2SySg/viewform">describe your Galaxy resource here</a></strong>.  We'll contact you with any question and then post it this directory.
